{% extends 'base.html' %}

{% load static %}

{% block content %}
	<div class="p-3">
		{% if task %}
			{% for tasks in task %}
				<div class="card mt-3">
					<a href="task/{{tasks.id}}" style="color: black;">
						<div class="card-header">
							{{tasks.title}}
						</div>
					</a>
					<div class="card-body">
						<p>{{tasks.summary}}</p>
						Subject: {{tasks.subject}}
						<a href="{% url 'return_task' tasks.id %}">
							<button style="float: right;" class="btn btn-outline-warning">Return</button>
						</a>
						<a href="{% url 'delete_task' tasks.id %}">
							<button style="float: right;" class="btn btn-danger btn-md my-0 p mr-2">Delete</button>
						</a>
						<small style="float: right; margin-top: 10px;" class="mr-4">Week: {{tasks.week_num}}</small>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class="row justify-content-center">
				<h2>NO DONE TASKS</h2>
			</div>
			<div class="row justify-content-center">
				<p>Done task and it will go here.</p>
			</div>
		{% endif %}
	</div>
{% endblock %}