{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="p-3">
		<div>
			<a href="/createtask">
				<button class="btn btn-outline-success">New Task</button>
			</a>

			<p class="card p-1 mr-1" style="float: right;">Task to be done: {{ task_count }}</p>
		</div>

		{% for tasks in task %}
			<div class="card mt-3">
				<a href="task/{{tasks.id}}" style="color: black;">
					<div class="card-header">
						{{tasks.title}}
					</div>
				</a>
				<div class="card-body">
					<p>{{tasks.summary}}</p>
					Subject: {{tasks.subject}}
					<a href="{% url 'done_task' tasks.id %}">
						<button style="float: right;" class="btn btn-success">Done</button>
					</a>
					<small style="float: right; margin-top: 10px;" class="mr-4">Week: {{tasks.week_num}}</small>
				</div>
			</div>
		{% endfor %}
	</div>

	  <div class="modal fade" id="taskView" tabindex="-1" role="dialog" aria-labelledby="taskViewModel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="taskViewModalLabel">Task</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
			  </div>
			</div>
		  </div>
	  </div>
</div>

{% block script %}
		<script type="text/javascript">
			let myTitle = new Vue({
		        el: "",
		        delimiters: ['[[', ']]'],
		        data: {
		          myTitle: '{{ task }}',
		        },
		    });
		</script>
{% endblock %}
{% endblock %}